@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body{
    background-color: #00020D;
    font-family: 'Comfortaa',Arial, Helvetica, sans-serif;

}

.cadre1, .cadre2, .cadre3, .cadre4, .cadre5, .cadre6{
    border-radius: 50%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadre1{
    height: 450px;
    width: 450px;
    background-image: url(img/alexia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}
.neon-border{
    height: 630px;
    margin-bottom: 10px;
}

.cadre2{
    height: 450px;
    width: 450px;
    background-image: url(img/damien.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}
.cadre3{
    height: 450px;
    width: 450px;
    background-image: url(img/winny.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
.cadre4{
    height: 450px;
    width: 450px;
    background-image: url(img/alexiacat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.cadre5{
    height: 450px;
    width: 450px;
    background-image: url(img/ralph.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}
.cadre6{
    height: 450px;
    width: 450px;
    background-image: url(img/yann.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}


.position-text{
    width: 500px;
    margin: auto;
}

.carousel-caption{
    backdrop-filter: blur(0px);
    backdrop-filter: brightness(100%);
    color: #f26da700;
    transition: 1s;
    border-radius: 30px;
    width: 300px;
    margin-bottom: 50px;
}
.carousel-caption h5{
    text-decoration: underline;
}

.carousel-caption:hover{
    backdrop-filter: blur(20px) brightness(50%);
    color: #F26DA6;
}

.carousel-item{
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: var(--bs-link-color);
    text-decoration: underline;
}
a:hover {
    color: var(--bs-link-hover-color);
}

nav:hover {
  background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
}

nav a:hover {
  scale: 1.1;
  
}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
  .masthead {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 35rem;
    padding: 15rem 0;
    letter-spacing: 0.0625em;
  }
  .masthead h1, .masthead .h1 {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    line-height: var(--bs-body-line-height);
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  .masthead h2, .masthead .h2 {
    max-width: 20rem;
    font-size: 1rem;
  }  

.FEX img {
    filter: grayscale(1);
    transition: transform .5s, filter 1.5s ease-in-out;
    overflow: hidden;
}

.FEX img:hover {

    filter: none;
    transform: scale(1.1);
    object-fit: cover;
}



